@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
        background-image: url("https://i.hizliresim.com/neo0juo.jpg");
        background-size: auto;
    }
</style>
<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Yönetim Paneline Hoş Geldiniz</h1>

</div>
